<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar">
		<a class="navbar-brand" href="/">Reddit.js</a>
		{{#if currentUser}}
  <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
{{/if}}
<ul class="nav navbar-nav navbar-right">
  {{#if currentUser}}
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
  {{/if}}
</ul>
	</nav>
	<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
				<li class="list-group-item">
				  <div class="lead"><a href="/posts/{{this._id}}">{{this.title}}</a></div>
				  <a href="{{this.url}}" target="_blank">{{this.url}}</a>
				  <div><small>{{this.author.username}}</small></div>
				  <div class="text-right">
				    <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
				  </div>
				</li>
            {{/each}}
        </ul>
    </div>
</div>
</body>
</html>